version: '3.3'
services:
  jenkins:
    container_name: jenkins
    restart: always
    image: jenkins/jenkins:lts
    ports:
      - 8888:8888
    volumes:
      - jenkins-home:/var/jenkins_home

volumes:
  jenkins-home: